<header class="section section-header">
	<div class="container container__header">
		<div class="mainpage_header">
			<div class="header-warning">
				<p class="header-warning_unprotected">You are not protected</p>
				<p class="header-warning_ip">Your IP Address:</p>
				<p class="header-warning_isp">Your ISP:</p>
				<p class="header-warning_learn-more">Learn more ></p>
				<svg class="header-warning_close" width="24" height="24"><use href="./images/sprites.svg#close"></use></svg>
			</div>

			<div class="header-main">
				<div class="header-logo">Company Name</div>
				<nav class="header-navbar">
					<ul class="navbar">
						<li class="navbar_item">
							Why Us
							<ul class="navbar_submenu">
								<li class="navbar_item">1</li>
								<li class="navbar_item">2</li>
								<li class="navbar_item">3</li>
							</ul>
						</li>
						<li class="navbar_item">VPN Apps</li>
						<li class="navbar_item">
							Support
							<ul class="navbar_submenu">
								<li class="navbar_item">1</li>
								<li class="navbar_item">2</li>
								<li class="navbar_item">3</li>
							</ul>
						</li>
						<li class="navbar_item">
							Resources
							<ul class="navbar_submenu">
								<li class="navbar_item">1</li>
								<li class="navbar_item">2</li>
								<li class="navbar_item">3</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="header-actions">
					<div class="button button-secondary">Log In</div>
					<div class="button button-primary">Get started</div>
				</div>
			</div>
		</div>
	</div>
</header>
