<div class="section__warning">
	<div class="container">
		<div class="warning">
			<div class="warningMobile">
				<div class="warningMobile__top">
					<p class="warningMobile__unprotected warning__unprotected">You are not protected</p>
					<a href="#" class="warningMobile__learnMore warning__learnMore">Learn More ›</a>
				</div>
				<div class="warningMobile__bottom">
					<p class="warningMobile__ip warning__ip">Your IP Address: <span class="warning__ipJS">107.3.176.194</span></p>
					<p class="warningMobile__isp warning__isp">Your ISP: <span class="warning__ispJS">Comcast Cable</span></p>
				</div>
			</div>

			<div class="warningDesktop">
				<p class="warningDesktop__unprotected warning__unprotected">You are not protected</p>
        <p class="warningMobile__ip warning__ip">Your IP Address: <span class="warning__ipJS">107.3.176.194</span></p>
        <p class="warningMobile__isp warning__isp">Your ISP: <span class="warning__ispJS">Comcast Cable</span></p>
				<a href="#" class="warningDesktop__learnMore warning__learnMore">Learn More ›</a>
			</div>

			<svg class="warning__close" width="24" height="24"><use href="./images/sprites.svg#close"></use></svg>
		</div>
	</div>
</div>
